---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="~/pritamadak/dev/portfolio">
	<section class="section active" id="about">501 - About, Under development.</section>
    <section class="section" id="blogs">501 - Blog, Under development.</section>
    <section class="section" id="skills">501 - Skills, Under development.</section>
    <section class="section" id="projects">501 - Projects, Under development.</section>
    <section class="section" id="education">501 - Education, Under development.</section>
    <section class="section" id="experience">501 - Experience, Under development.</section>
    <section class="section" id="contact">501 - Contact, Under development.</section>
</BaseLayout>