---
import BaseLayout from '../layouts/BaseLayout.astro';
import About from '../components/about.astro';
---

<BaseLayout title="~/pritamadak/dev/portfolio">
	<About/>
    <section class="section" id="skills">501 - Skills, Under development.</section>
    <section class="section" id="projects">501 - Projects, Under development.</section>
    <section class="section" id="education">501 - Education, Under development.</section>
    <section class="section" id="experience">501 - Experience, Under development.</section>
    <section class="section" id="contact">501 - Contact, Under development.</section>
</BaseLayout>